<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    SSO 認證中心
  </h1>
  

  <form method="post">
    <div>用戶名: <input type="text" name="name" /></div>
    <div>密碼: <input type="text" name="password"></div>
    <div><input type="submit" value="登入"></div>
  </form>
</body>

</html>